body {
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-image: url("background.jpg");
    background-size: cover;
}
img {
    position: absolute; /* Set the image position to absolute */
    top:5%; /* Position the image at the top */
    left: 5%; /* Position the image at the left */
    max-width: 10dvh;
}
/* background is covering the whole screen */
* {
    box-sizing: border-box;
}

.quiz-container {
    background-color: burlywood;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 700px;
    max-width: 45vw;
    overflow: hidden;
    flex: 1;
    padding-bottom: 100px;
    box-shadow: 10px 5px 5px red;
}
/* Don't make the header in relative position */
.quiz-header {
    padding: 4rem;
    
}

h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}

button {
    background-color: #6867a1;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;
}

button:hover {
    background-color: #23ba41;
}

button:focus {
    outline: none;
    background-color: #5e3370;
}

.container-fluid {
    flex-shrink: 0;
}

/* Media Queries for Responsiveness */

/* For screens with width less than or equal to 768px */
@media (max-width: 768px) {
    .quiz-container {
        width: 90%;
        padding-bottom: 50px;
    }

    .quiz-header {
        padding: 2rem;
        
    }

    h2 {
        font-size: 1.5rem;
    }

    ul li {
        font-size: 1rem;
    }

    button {
        font-size: 1rem;
        padding: 1rem;
    }
}
